name: Build and Deploy React App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_OPTIONS: --openssl-legacy-provider

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install root deps
        run: npm install --legacy-peer-deps

      - name: Install client deps
        run: |
          cd client
          npm install --legacy-peer-deps

      - name: Build client
        run: |
          cd client
          npm run build

      - name: Deploy to GitHub Pages
        run: |
          npm install -g gh-pages
          cd client
          gh-pages -d build -u "github-actions-bot <support@github.com>"
