name: Build and Deploy React App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_OPTIONS: --openssl-legacy-provider

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Disable CI warnings
        run: echo "CI=false" >> $GITHUB_ENV

      - name: Install root deps
        run: npm install --legacy-peer-deps

      - name: Install client deps
        run: |
          cd client
          npm install --legacy-peer-deps

      - name: Build client
        run: |
          cd client
          npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.GH_PAT }}
          publish_dir: ./client/build
          publish_branch: gh-pages
          user_name: github-actions
          user_email: actions@github.com
