name: Build and Deploy React App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_OPTIONS: --openssl-legacy-provider

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Disable CI warnings
        run: echo "CI=false" >> $GITHUB_ENV

      - name: Install root deps
        run: npm install --legacy-peer-deps

      - name: Install client deps
        run: |
          cd client
          npm install --legacy-peer-deps

      - name: Build client
        run: |
          cd client
          npm run build

      - name: Deploy to GitHub Pages
        run: |
          cd client
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          npx gh-pages -d build -r https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/zfadel989/test.git
